<!DOCTYPE html> <div class="contenedor">
            
           
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
      
    </head>
    <body bgColor="black">
      

    <td colspan="4" rowspan="3" valign="top" bgcolor="#6d1c70" font color="white"><div align="left">
            <font color ="white">
     <h1>Menú Principal</h1>
            <div class="botones">
           <a th:href="@{/agregarUsuario}"><input type="button" value="Agregar Usuario">
           </a>
             <a th:href="@{/Mostrar}"><input type="button" value="Mostrar Usuario">
             </a>
            </div>
     </font>
        </div> 
        </body>
        </html>
