<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar</title>
        
        
    </head>
    <body>
        <div align="center">
            <table width="500" border="0" cellpadding="5" cellspacing="0">

  <tr>
    

        <div class="conteni">
            <h1>AGREGAR USUARIO</h1>
              
            <div class="conteni">
            <h1>Por favor ingrese sus datos correspondientes</h1>
            
            <form th:action="@{/guardarUsuario}" method="post" th:object="${usuario}">
                <div class="botones">
                <br/>
                <br/>
                <input type="hidden" name="ID_USUARIO" th:field="*{ID_USUARIO}"/>
                <label for="NOMBRE">Nombre:</label>
                <input type="text" name="NOMBRE" th:field="*{NOMBRE}"/>
                <br/>
                <br/>
                <label for="APELLIDO">Apellido:</label>
                <input type="text" name="APELLIDO" th:field="*{APELLIDO}"/>
                <br/>
                <br/>
                <label for="ID_DPTO">Departamento:</label>
                <select name="ID_DEPTO" th:field="*{ID_DEPTO}">
                    <option th:each="departamento:${departamentos}"
                            th:value="${departamento.ID_DEPTO}"
                            th:text="${departamento.DESCRIPCION_DEPTO}"
                            />
                </select>
                <br/>
                <br/>
                <label for="ID_PROFESION">Profesion:</label>
                <select name="ID_PROFESION" th:field="*{ID_PROFESION}">
                    <option th:each="profesion:${profesiones}"
                            th:value="${profesion.ID_PROFESION}"
                            th:text="${profesion.DESCRIPCION_PROFESION}"
                            />
                </select>
                <br/>
                <br/>
                <label for="CORREO_ELECTRONICO">Email:</label>
                <input type="email" name="CORREO_ELECTRONICO" th:field="*{CORREO_ELECTRONICO}"/>
                <br/>
                <br/>
                <label for="TELEFONO">Teléfono:</label>
                <input type="number" name="TELEFONO" th:field="*{TELEFONO}"/>
                <br/>
                <br/>
                <label for="FECHA_NACIMIENTO">Fecha Nacimiento</label>
                <input type="date" name="FECHA_NACIMIENTO" th:field="*{FECHA_NACIMIENTO}"/>
                <br/>
                <br/>
                <label for="LONGITUD">Longitud</label>
                <input type="double" name="LONGITUD" th:field="*{LONGITUD}"/>
                <br/>
                <br/>
                <label for="LATITUD">Latitud</label>
                <input type="double" name="LATITUD" th:field="*{LATITUD}"/>
                <br/>
                <br/>
                <input type="submit" name="guardarUsuario" value="Guardar"/>
                
            </div>
            </form>
              <div class="botones">    
            <a href="http://www.localhost:8072"><br/><input type="button" value="REGRESAR"></a>
              </div> 
            </div>
        </body>
        </html>
